<div class="p-6">
  <h2 class="text-2xl font-semibold mb-4">Leave List</h2>

  <div *ngIf="isLoading$ | async">Loading...</div>

  <div class="container mx-auto p-4" *ngIf="(leaves$ | async) as leaves">
    <ng-container *ngIf="leaves.length > 0; else noData">
      <table class="w-full border border-gray-300">
        <thead class="bg-gray-100">
          <tr>
            <th class="border p-2">ID</th>
            <th class="border p-2">Leave Name</th>
            <th class="border p-2">Description</th>
            <th class="border p-2">Hours</th>
            <th class="border p-2">Date</th>
            <th class="border p-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of leaves">
            <td class="border p-2">{{ leave.Id }}</td>
            <td class="border p-2">{{ leave.LeaveName }}</td>
            <td class="border p-2">{{ leave.Description }}</td>
            <td class="border p-2">{{ leave.LeaveLimitHours }}</td>
            <td class="border p-2">{{ leave.CreateDate | date:'short' }}</td>
            <td class="border p-2">
              <button
                (click)="onEdit(leave)"
                class="border border-blue-500 bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 transition"
              >
                編輯
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noData>
      <div class="text-gray-500 mt-4">No data found.</div>
    </ng-template>
  </div>
</div>